  body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f6fa;
    padding: 20px 30px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }

  .navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: #2e7d32;
  }

  .navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
  }

  .navbar ul li {
    position: relative;
  }

  .navbar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }

  .navbar .contact-btn {
    background-color: #000;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
  }

  .hero {
    background-image: url("{{ url_for('static', filename='img/maa.png') }}");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    filter: blur(2px);
  }
 .contact-btn {
    background-color: #000;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}